/* What the hex is that?
A hex code guessing game */

/* Web fonts used
***********/
@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(https://fonts.gstatic.com/s/sueellenfrancisco/v8/wXK3E20CsoJ9j1DDkjHcQ5ZL8xRaxru9no1P23in5H8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Reset global default settings
***********/
* {
	box-sizing: border-box;
	margin: 0;
  /* border: 1px solid black; */
  font-family: 'Sue Ellen Francisco', 'Raleway', serif;
	font-weight: 400;
  color: #404040;
  }

/* Get header sorted */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 20px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
  font-family:
}

h1 {
  margin: 0 auto 0 0;
  padding-right: 5px;
  letter-spacing: 0.05em;
  text-align: center;
}

header button {
  width: 70px;
  height: 50px;
  font-size: 1.5em;
  background: white;
  border: 0px;
  margin: 0 5px 0 0;
}

/* align the main */
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

p.target {
  margin: 20px 0 15px 0;
  text-align: center;
  font-size: 2em;
}

p.yay, p.nay {
  margin: 5px 0;
  text-align: center;
  font-size: 1.5em;
}


/* Boxes */
.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.color {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px solid hsla(0, 0%, 85%, 1.0);
  /* border-radius: 1em 4em 1em 4em/2em 1em 2em 1em; */
  border-radius: 2em;
}

/* Levels */
.hide {
  display: none;
}

/* Reset button */
button.reset {
  width: 100px;
  height: 50px;
  display: block;
  margin: 30px auto 10px auto;
  border-radius: 0.5em;
  background: #e7e7e7;
  font-family: 'Sue Ellen Francisco';
  font-size: 1.5em;
}
